<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
  <!--
    启用 Spring 2.5 注释驱动功能: http://www.ibm.com/developerworks/cn/java/j-lo-spring25-ioc/
   -->
  <context:annotation-config/>
  <context:component-scan base-package="cn.bc"/>

  <!-- 数据库连接及事务管理配置 -->
  <import resource="classpath:spring-test-db.xml"/>

  <!-- 标准的crud事务拦截配置：拦截所有实现CrudService接口的类 -->
  <import resource="classpath:cn/bc/core/spring.xml"/>

  <!-- 本模块的配置 -->
  <import resource="classpath:cn/bc/identity/spring.xml"/>

  <!-- 使用Mock来测试struts2的action -->
  <bean id="actorService" class="cn.bc.test.mock.CrudServiceMock">
    <property name="entityClass" value="cn.bc.identity.domain.Actor"/>
  </bean>
</beans>