[submodule "bc-category"]
	path = bc-category
	url = git@github.com:bcsoft/bc-category.git
[submodule "bc-cert"]
	path = bc-cert
	url = git@github.com:bcsoft/bc-cert.git
[submodule "bc-express"]
	path = bc-express
	url = git@github.com:bcsoft/bc-express.git
[submodule "bc-workflow"]
	path = bc-workflow
	url = git@github.com:bcsoft/bc-workflow.git
[submodule "bc-rest"]
	path = bc-rest
	url = git@github.com:bcsoft/bc-rest.git
