[submodule "bc-express"]
	path = bc-express
	url = git@github.com:bcsoft/bc-express.git
[submodule "bc-workflow"]
	path = bc-workflow
	url = git@github.com:bcsoft/bc-workflow.git
[submodule "bc-rest"]
	path = bc-rest
	url = git@github.com:bcsoft/bc-rest.git
[submodule "bc-workflow-examples"]
	path = bc-workflow-examples
	url = git@github.com:bcsoft/bc-workflow-examples.git
