<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- optionGroup -->
    <bean id="optionGroupDao" class="cn.bc.orm.jpa.JpaCrudDao"
          p:entityClass="cn.bc.option.domain.OptionGroup"/>
    <bean id="optionGroupService" class="cn.bc.core.service.DefaultCrudService"
          p:entityClass="cn.bc.option.domain.OptionGroup" p:crudDao-ref="optionGroupDao"/>

    <!-- optionItem -->
    <bean id="optionItemDao" class="cn.bc.orm.jpa.JpaCrudDao"
          p:entityClass="cn.bc.option.domain.OptionItem"/>
    <bean id="optionItemService" class="cn.bc.core.service.DefaultCrudService"
          p:entityClass="cn.bc.option.domain.OptionItem" p:crudDao-ref="optionItemDao"/>

    <!-- option -->
    <bean id="optionDao" class="cn.bc.option.dao.hibernate.jpa.OptionDaoImpl"/>
    <bean id="optionService" class="cn.bc.option.service.OptionServiceImpl" p:optionDao-ref="optionDao"/>
</beans>