<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 获取Word远程服务实现：测试服务器为rmi://192.168.0.223:1199/word -->
	<bean id="wordService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="rmi://localhost:1199/word" />
		<property name="serviceInterface" value="cn.bc.remoting.service.WordService" />
	</bean>
</beans>