<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- http://logback.qos.ch/manual/layouts.html -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %class.%method:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 http://blog.csdn.net/wangjunjun2008/article/details/18732019 -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>logback.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!--日志文件保留天数-->
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%method:%line - %msg%n</pattern>
		</encoder>
		<!--日志文件最大的大小-->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- hibernate -->
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.hibernate.Version" level="WARN"/>
	<logger name="org.hibernate.dialect" level="WARN"/>
	<logger name="org.hibernate.internal.SessionImpl" level="WARN"/>
	<!-- 事务 -->
	<logger name="org.hibernate.engine.transaction" level="WARN"/>
	<logger name="org.hibernate.jpa" level="WARN"/>
	<!-- jpa: TRACE-元数据模型 -->
	<logger name="org.hibernate.jpa.internal.metamodel" level="WARN"/>
	<!-- jpa: DEBUG-persistenceUnit详细信息 -->
	<logger name="org.hibernate.jpa.internal.util.LogHelper.logPersistenceUnitInformation" level="WARN"/>
	<!-- cache: TRACE-jpql缓存 -->
	<logger name="org.hibernate.engine.query.spi.QueryPlanCache" level="WARN"/>
	<!-- jpql: TRACE-jpql语句 | -->
	<logger name="org.hibernate.engine.query.spi.HQLQueryPlan" level="TRACE"/>
	<!-- jpql: TRACE-jpql命名参数 | -->
	<logger name="org.hibernate.engine.spi.QueryParameters" level="TRACE"/>
	<!-- sql: DEBUG-sql -->
	<logger name="org.hibernate.SQL" level="DEBUG"/>
	<!-- sql: TRACE-sql占位参数及类型(org.hibernate.type.descriptor.sql.BasicBinder) -->
	<logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
	<!-- jpql: DEBUG-converter | -->
	<logger name="org.hibernate.type.descriptor.converter" level="WARN"/>
	<!-- sql: TRACE-查询结果 | -->
	<logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="WARN"/>
	<!-- id: DEBUG-insert后生成的ID值 | -->
	<logger name="org.hibernate.id.IdentifierGeneratorHelper" level="WARN"/>

	<!-- hibernate：设为INFO，查看实体对象映射到哪张数据表；设为DEBUG则可以查看实体属性与表中列的映射对应关系 -->
	<logger name="org.hibernate.cfg.HbmBinder" level="WARN"/>

	<logger name="cn.bc.orm" level="DEBUG"/>

	<root level="WARN">
		<appender-ref ref="console"/>
		<appender-ref ref="rollingFile"/>
	</root>
</configuration>