<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 需要在主配置文件配置entityManagerFactory和transactionManager的实现 -->

	<!-- attach -->
	<bean id="attachDao" class="cn.bc.orm.hibernate.jpa.HibernateCrudJpaDao"
		p:entityClass="cn.bc.docs.domain.Attach" p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="attachService" class="cn.bc.docs.service.AttachServiceImpl"
		p:entityClass="cn.bc.docs.domain.Attach" p:crudDao-ref="attachDao" />

	<!-- attachHistory -->
	<bean id="attachHistoryDao" class="cn.bc.docs.dao.hibernate.jpa.AttachHistoryDaoImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="attachHistoryService" class="cn.bc.core.service.DefaultCrudService"
		p:entityClass="cn.bc.docs.domain.AttachHistory" p:crudDao-ref="attachHistoryDao" />
</beans>