<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

  <!-- 配置数据库连接及事务管理 -->
  <context:property-placeholder location="classpath:db.properties"/>
  <bean id="JdbcUtils" class="cn.bc.db.JdbcUtils">
    <property name="dbtype" value="${db_type}"/>
  </bean>
  <bean class="cn.bc.test.TestUtils">
    <constructor-arg value="${db_sequence}"/>
  </bean>
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${db_driverClassName}"/>
    <property name="url" value="${db_url}"/>
    <property name="username" value="${db_username}"/>
    <property name="password" value="${db_password}"/>
  </bean>

  <!-- for hibernate without jpa -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mappingLocations">
      <list>
        <value>classpath:cn/bc/orm/hibernate/Domain.hbm.xml</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <value>
        hibernate.dialect = ${hibernate_dialect}
        hibernate.show_sql =${hibernate_showSql}
      </value>
    </property>
  </bean>
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
</beans>