<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- 附件信息解析器 -->
    <util:map id="photoExecutors" key-type="java.lang.String" value-type="cn.bc.photo.service.PhotoExecutor">
        <entry key="attach" value-ref="photoExecutor4Attach"/>
        <entry key="wf" value-ref="photoExecutor4FlowAttach"/>
    </util:map>
    <bean id="photoService" class="cn.bc.photo.service.PhotoServiceImpl" p:photoExecutors-ref="photoExecutors"/>

    <bean id="ipCameraDao" class="cn.bc.photo.dao.hibernate.jpa.IpCameraDaoImpl"
          p:entityClass="cn.bc.photo.domain.IpCamera"/>
    <bean id="ipCameraService" class="cn.bc.photo.service.IpCameraServiceImpl"
          p:entityClass="cn.bc.photo.domain.IpCamera"
          p:ipCameraDao-ref="ipCameraDao"/>

    <!-- 标准附件 -->
    <bean name="photoExecutor4Attach" class="cn.bc.photo.service.PhotoExecutor4Attach"/>
    <!-- 流程附件 -->
    <bean name="photoExecutor4FlowAttach" class="cn.bc.photo.service.PhotoExecutor4FlowAttach"/>
</beans>