html, body {
  height: 100%
}

body {
  font-size: 1.5em;
  margin: 0;
  background-color: #000;
  color: #fff
}

.valign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

span {
  color: rgba(255, 255, 255, 0.8)
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.2em;
  color: gray;
  font-size: 0.5em;
  text-align: center
}
